body{
    background-color: maroon;
}
@media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
  }
  
  @media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  }
  /* Add any custom styles here */
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    padding-top: 20px; /* Adjust as needed for spacing */
}

.logo {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px; /* Adjust as needed */
}

.logo img {
    max-width: 100%;
    height: auto;
}

#studentDetails {
    background-color: transparent; /* Light background color */
    border: 1px solid #ddd; /* Light gray border */
    border-radius: 8px; /* Rounded corners */
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    width: 80%;
    max-width: 600px; /* Max width for larger screens */
    margin-top: 20px; /* Space from other elements */
    position: relative; /* Relative positioning for loader */
}

#studentDetails .top-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px; /* Space between rows */
}

#studentDetails .bottom-row {
    display: flex;
    justify-content: space-between;
}

#studentDetails p {
    flex: 5; /* Equal width for each p element */
    padding: 10px; /* Padding for each section */
    background-color: transparent; /* White background for each section */
    border: 1px solid #ddd; /* Light gray border for each section */
    border-radius: 4px; /* Slightly rounded corners for each section */
    text-align: center; /* Center align text */
    font-size: 16px; /* Font size */
    margin: 2; /* Remove default margin */
    color: white;
    letter-spacing: 3px;
}

#studentDetails span {
    font-weight: bold; /* Bold text for the details */
    color:white; /* Dark text color */
    letter-spacing: 3px;
}

.loader {
    display: none; /* Hidden by default */
    position: absolute; /* Absolute positioning for loader */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centering loader */
}

.loader img {
    width: 50px; /* Adjust size of loader icon */
    height: 50px;
    background-color: transparent;
}
h1{
    color: white;
    letter-spacing: 3px;
}